h1{
    text-align: center;
    color: violet;
    margin-top: 15px;
}

h2{
   color: rgb(87, 74, 59);
}

div{
    border: 10px solid #160bad;
    background-color: #f1faee;
    text-align: center;
}

span{
    color: orange;
    padding-right: 5px;
}

.Tarjeta{

color: rgb(60, 37, 84);
margin: 15px 100px;
padding: 20px 100px;
}
