span{
    color: yellowgreen;
    border:1px solid black;
    font-weight: 100;
   
}


h1{
    color: #F72585;
    text-align: center;
}
h2{
    color: #3f37c9;
}
h3
{
    color: #4E8d92;
}
div{
    border: 10px solid #560BAD;
    background-color: #f1faee;
    text-align: center;
}